$Gris-Oscuro-Titulos : rgb(66,66,66);
$Gris-Claro-fecha:rgb(95,99,104);
$Gris-Claro:rgb(211,211,211);
$Gris-Texto : rgb(65,69,73);
$Azul : rgb(66,133,244);
$border-top: 4px solid #4285f4;

$font-famili-block: Product, sans-serif;
$font-size: 1.3vw;
$font-weight: 500;
$font-style: normal;
$line-height-title:28px;
$font-size-title:2vw;
$font-size-subTitle:1.5vw;

$font-parrafo:Roboto, sans-serif;
$font-piePagina:Roboto Mono, monospace;