@import'grid';
@import'variables';
@import'funciones';

a{
	text-align:center;
	list-style: none;
	text-decoration: none;
}
.separadorAzul{
	border-top:$border-top;
}
p{
	font-family:$font-parrafo;
}

.pieBlock{
	font-family:$font-piePagina;
	color: $Gris-Oscuro-Titulos;
}
.relleno{
	background-color:$Gris-Claro;
}
.relleno{
	a{
		text-align:left;
		padding: 0;
		color: $Azul;
	}
}
ol{
	list-style: none;
	font-family:$font-parrafo; 
}